.footer {
  padding: 50px 0;
  background: $text-color;
  &__inner {
    display: flex;
    justify-content: space-between;
    &-col {
      width: calc(33.3% - 30px);
      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:nth-child(3) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
      }
    }
    &-link {
      font-size: 19px;
      line-height: 24px;
      font-weight: 300;
      color: $white;
      display: block;
      @include transition;
      &:hover {
        color: $main;
      }
      span {
        font-weight: 900;
        margin-right: 5px;
      }
    }
  }
  .button {
    width: 100%;
  }
  p {
    margin-bottom: 20px;
    color: $white;
    span {
      font-weight: 900;
    }
  }
}
@mixin footer-md-lg {
  .footer {
    &__inner {
      flex-direction: column;
      &-link {
        font-size: 14px;
        line-height: 18px;
      }
      &-col {
        width: 100%;
        margin: 0 0 15px 0;
        text-align: center;
        // &:nth-child(2) {
        //   justify-content: flex-start;
        //   align-items: flex-start;
        // }
        &:nth-child(3) {
          justify-content: center;
          align-items: center;
          margin: 0;
        }
      }
    }
    .button {
      max-width: 350px;
    }
  }
}
